<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myhome">



    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.hardware.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".Api.MyHome"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHome"
        tools:targetApi="31" >
        <activity
            android:name=".Front.ReserveProperty"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCj8X4X3RsPK_3LdoYz-dVlcrle2FYg9O4" />
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.client_id"
            android:value="AIzaSyCj8X4X3RsPK_3LdoYz-dVlcrle2FYg9O4" />

        <activity
            android:name=".GoogleService.GoogleMap"
            android:exported="false" />
        <activity android:name=".Front.PerfilInmobiliaria" >

            <!-- Configuración adicional de la actividad, como el tema, el icono, etc. -->
        </activity>
        <activity
            android:name=".Front.AgenciesRating"
            android:exported="false" />
        <activity
            android:name=".Front.UploadImageActivity"
            android:exported="false" />
        <activity
            android:name=".Front.ListAgencieProperties"
            android:exported="false" />
        <activity
            android:name=".Front.ListUserProperties"
            android:exported="false" />
        <activity
            android:name=".Front.ListFavoriteProperties"
            android:exported="false" />
        <activity
            android:name=".Front.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Front.NewProperties"
            android:exported="false" />
        <activity
            android:name=".Front.DetailProperty"
            android:exported="false" />
        <activity
            android:name=".Front.NewPassword"
            android:exported="false" />
        <activity
            android:name=".Front.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".Front.AgenciesProfile"
            android:exported="false" />
        <activity
            android:name=".Front.ListAgencieReviews"
            android:exported="false" />
        <activity
            android:name=".Front.RegisterAgencies"
            android:exported="false" />
        <activity
            android:name=".Front.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Front.ForgotPasswordCode"
            android:exported="false" />
        <activity
            android:name=".Front.LoginAgencies"
            android:exported="false" />
        <activity
            android:name=".Front.LoginUser"
            android:exported="false" />
        <activity
            android:name=".Front.ListViewTest"
            android:exported="false" />
        <activity
            android:name=".Api.Apitest"
            android:exported="false" />
        <activity
            android:name=".Front.EditProperty"
            android:exported="false" />
        <activity
            android:name=".Front.UsersProfile"
            android:exported="false" />
    </application>

</manifest>